<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Connection" type="System.Configuration.NameValueSectionHandler" />
    <section name="Validation" type="System.Configuration.NameValueSectionHandler" />
    <section name="Logging" type="System.Configuration.NameValueSectionHandler" />
    <section name="Monitoring" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  <Connection>
    <add key="Servers" value=""/>
    <add key="Login" value=""/>
    <add key="Password" value=""/>
    <add key="RetryCount" value="5"/>
  </Connection>

  <Validation>
    <add key="OpenTimeDelta" value="1"/>
    <add key="VolumeToBalanceRatio" value="0.05"/>
  </Validation>
  
  <Logging>
    <add key="OutputFileName" value="suspicious-trades-{0}.json"/>
    <add key="OutputFileNameTimeStampFormat" value="yyyyMMdd"/>
    <add key="OutputPath" value=".\logs\"/>
  </Logging>
  
  <Monitoring>
    <add key="RetentionPeriod" value="3"/>
  </Monitoring>
</configuration>
